.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}
.actionContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-block: 10px;
}
.actions {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.button {
  padding: 10px 10px;
  color: #f2f2f2;
  border-radius: 5px;
}
.sort {
  background-color: #29183c;
}
.reset {
  background-color: #ff0000;
  font-size: 20px;
  font-weight: 500;
}
.input {
  padding: 10px;
  font-family: inherit;
  background: none;
  border-radius: 5px;
  border: 2px solid #04aa6d;
  outline: none;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

@media (max-width: 500px) {
  .actions {
    flex-direction: column;
  }

  .input,
  .sort {
    width: 100%;
  }

  .table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .table th,
  .table td {
    text-align: left;
  }
}
