@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #000;
  font-family: "Montserrat", serif;
}
button {
  border: none;
  outline: none;
  font-family: inherit;
  background: none;
  cursor: pointer;
}
h1 {
  text-align: center;
  margin-block: 20px;
  font-size: 32px;
  color: #04aa6d;
}

@media (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}
